@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Mage's Tower</h1>
    <p>Let's get started! <a href="https://localhost:5001/Customer/Create">Create Customer Account Here!</a></p>
</div>
